.login{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.social {
    margin: auto;
    width: 150px;
    height: 50px;
}

.carta{
    width: 80%;
    margin: auto;
    margin-top:20px;
    font-size: 25px;
}


@media (min-width: 1000px) and (min-height: 650px) {
    .carta {
       width: 50%;
    }

}