<div class="main">

  <div class="col-sm-12">
      <mat-drawer-container autosize >
          <mat-drawer #drawer mode="side">
                <nav>
                    hola
                </nav>
          </mat-drawer>
  
          
          <mat-drawer-content class="main">
            <header id="header">
              <mat-toolbar color="primary">
                  <button
                  (click)="open(drawer)"
                  [ngClass]="{'is-active':toggleOpen}"
                  class="hamburger hamburger--slider" type="button">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </button>
                <h1 class="title">ContaPro</h1>
              </mat-toolbar>
            </header>
  
  
            
            <app-home></app-home>
  
          </mat-drawer-content>
  
  
        </mat-drawer-container>      
  </div>
   
</div>