.home {
    margin-top: 30px;
    overflow: hidden;
}

.img {
    overflow: hidden;
    height: 300px;
}

.menu {
    width: 90%;
    margin: auto;
    background-color: #283593;
    margin-top: 25px;
    border-radius: 10px;
    color: white;
}
.tests {
    text-align: center;
}
.tests button {
    width: 150px;
    margin: 5px;
}

@media (min-width: 1000px) and (min-height: 650px) {
    .img {
        height: 600px;
        width: 80%;
        margin: auto;
    }
    .menu {
        width: 15%;
        height: 30%;
    }

}